.blog-section{
    color: #2B2B2B;
    flex: 0 1 30%;
}
.blog-section figure img{
    width: 100%;
    border-radius: 1rem;
}
.blog-section p{
    /* margin: 1rem 0;  */
    line-height: 1.5;
}
.blog-section p:nth-child(1){
    font-size: 0.8rem;
}
.blog-section p:nth-child(2){
    font-size: 20px;
}
.blog-section p:nth-child(3){
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5625em;
}
.blog-section p:nth-child(4){
    color: #FFA93D;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3889em;
}